# dev
.vscode
.zed
.cache
.clangd
compile_commands.json
docs/dev

# build
panel
demos/layout
demos/text
demos/button
demos/checkbox
demos/checkbox_tex
demos/input
demos/scroll_panel
demos/slider
demos/demo
demos/widget_size
demos/variable_slots
demos/nest2_panel
demos/nested_panel
demos/sdl3_demo
demos/grid
demos/grid_auto
demos/flex_demo
demos/minmax_demo
demos/theme_demo
demos/font_demo
demos/opacity_demo
demos/gallery
tests/test_runner

